<div class="container" id="search-component">
  <!--
  <label for="name-search-box">
    Instructor Search by <span class="label label-default">name</span>
    <input class="form-control" #nameSearchBox (input)="searchByName(nameSearchBox.value)" id="name-search-box">
  </label>

  <ul class="search-result list-group">
    <li class="list-group-item" *ngFor="let instructor of instructorsByName$ | async">
      <a routerLink="/instructors/{{instructor.id}}">
        {{instructor.firstName}} {{instructor.lastName}}
      </a>
    </li>
  </ul>
  -->

  <div class="form-group">
    <label for="firstName">
      Instructor Search by
      <span class="badge rounded-pill text-bg-primary">first</span>
      <span class="badge rounded-pill text-bg-secondary">name</span>

      <select
        id="firstName"
        name="firstName"
        class="form-control"
        required
        [(ngModel)]="firstNameSought"
        #firstName="ngModel"
        >
        @for (uniqueFirstName of uniqueFirstNames; track uniqueFirstName) {
          <option
            [value]="uniqueFirstName"
            >
            {{ uniqueFirstName }}
          </option>
        }
      </select>

      @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
        <div
          class="alert alert-danger"
          >
          @if (firstName.errors?.['required']) {
            <div>
              First Name is required.
            </div>
          }
          @if (firstName.errors?.['minlength']) {
            <div>
              First Name must be at least 1 character long.
            </div>
          }
          @if (firstName.errors?.['maxlength']) {
            <div>
              First Name must be at most 255 characters long.
            </div>
          }
        </div>
      }

      @if (firstName.valid) {
        <span>{{
          searchByFirstName(firstName.value)
        }}</span>
      }
    </label>
  </div>

  @if (firstName.valid) {
    <ul class="search-result list-group">
      @for (instructor of instructorsByFirstName$ | async; track instructor) {
        <li
          class="list-group-item"
          >
          <a routerLink="/instructors/{{ instructor.id }}">
            {{ instructor.firstName }} {{ instructor.lastName }}
          </a>
        </li>
      }
    </ul>
  }

  <!--
  <label for="full-name-search-box">
    Instructor Search by <span class="label label-info">full</span> <span class="label label-default">name</span>
    <input class="form-control" #fullNameSearchBox (input)="searchByFullName(fullNameSearchBox.value)" id="full-name-search-box">
  </label>

  <ul class="search-result list-group">
    <li class="list-group-item" *ngFor="let instructor of instructorsByFullName$ | async">
      <a routerLink="/instructors/{{instructor.id}}">
        {{instructor.firstName}} {{instructor.lastName}}
      </a>
    </li>
  </ul>
  -->

  <div class="form-group">
    <label for="lastName">
      Instructor Search by
      <span class="badge rounded-pill text-bg-success">last</span>
      <span class="badge rounded-pill text-bg-secondary">name</span>

      <select
        id="lastName"
        name="lastName"
        class="form-control"
        [(ngModel)]="lastNameSought"
        #lastName="ngModel"
        >
        @for (uniqueLastName of uniqueLastNames; track uniqueLastName) {
          <option
            [ngValue]="uniqueLastName"
            >
            {{ uniqueLastName }}
          </option>
        }
      </select>

      @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
        <div
          class="alert alert-danger"
          >
          @if (lastName.errors?.['required']) {
            <div>Last Name is required.</div>
          }
          @if (lastName.errors?.['maxlength']) {
            <div>
              Last Name must be at most 255 characters long.
            </div>
          }
        </div>
      }

      @if (
        lastName.valid && lastName.touched && lastName.value !== undefined
        ) {
        <span
          >{{ searchByLastName(lastName.value) }}</span
          >
        }
      </label>
    </div>

    @if (lastName.valid) {
      <ul class="search-result list-group">
        @for (instructor of instructorsByLastName$ | async; track instructor) {
          <li
            class="list-group-item"
            >
            <a routerLink="/instructors/{{ instructor.id }}">
              {{ instructor.firstName }} {{ instructor.lastName }}
            </a>
          </li>
        }
      </ul>
    }
  </div>
