<div class="container" id="search-component">
    <!--
    <label for="name-search-box">
        Instructor Search by <span class="label label-default">name</span>
        <input class="form-control" #nameSearchBox (input)="searchByName(nameSearchBox.value)" id="name-search-box">
    </label>

    <ul class="search-result list-group">
        <li class="list-group-item" *ngFor="let instructor of instructorsByName$ | async">
            <a routerLink="/instructors/{{instructor.id}}">
                {{instructor.firstName}} {{instructor.lastName}}
            </a>
        </li>
      </ul>
    -->

    <div class="form-group">
        <label for="firstName">
            Instructor Search by <span class="label label-info">first</span> <span class="label label-default">name</span>

            <select id="firstName" name="firstName" class="form-control" required [(ngModel)]="firstNameSought" #firstName="ngModel">
                <option *ngFor="let uniqueFirstName of uniqueFirstNames" [value]="uniqueFirstName">
                    {{ uniqueFirstName }}
                </option>
            </select>

            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">

                <div *ngIf="firstName.errors?.['required']">
                    First Name is required.
                </div>
                <div *ngIf="firstName.errors?.['minlength']">
                    First Name must be at least 1 character long.
                </div>
                <div *ngIf="firstName.errors?.['maxlength']">
                    First Name must be at most 255 characters long.
                </div>
            </div>

            <span *ngIf="firstName.valid">{{ searchByFirstName(firstName.value) }}</span>
        </label>
    </div>

    <ul class="search-result  list-group" *ngIf="firstName.valid">
        <li class="list-group-item" *ngFor="let instructor of instructorsByFirstName$ | async">
            <a routerLink="/instructors/{{instructor.id}}">
                {{instructor.firstName}} {{instructor.lastName}}
            </a>
        </li>
    </ul>


    <!--
    <label for="full-name-search-box">
        Instructor Search by <span class="label label-info">full</span> <span class="label label-default">name</span>
        <input class="form-control" #fullNameSearchBox (input)="searchByFullName(fullNameSearchBox.value)" id="full-name-search-box">
    </label>

    <ul class="search-result list-group">
        <li class="list-group-item" *ngFor="let instructor of instructorsByFullName$ | async">
            <a routerLink="/instructors/{{instructor.id}}">
                {{instructor.firstName}} {{instructor.lastName}}
            </a>
        </li>
      </ul>
    -->


    <div class="form-group">
        <label for="lastName">
            Instructor Search by <span class="label label-info">last</span> <span class="label label-default">name</span>

            <select id="lastName" name="lastName" class="form-control" [(ngModel)]="lastNameSought" #lastName="ngModel">
                <option *ngFor="let uniqueLastName of uniqueLastNames" [ngValue]="uniqueLastName">
                    {{ uniqueLastName }}
                </option>
            </select>

            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">

                <div *ngIf="lastName.errors?.['required']">
                    Last Name is required.
                </div>
                <div *ngIf="lastName.errors?.['maxlength']">
                    Last Name must be at most 255 characters long.
                </div>
            </div>

            <span *ngIf="lastName.valid && lastName.touched && lastName.value !== undefined">{{ searchByLastName(lastName.value) }}</span>
        </label>
    </div>


    <ul class="search-result list-group" *ngIf="lastName.valid">
        <li class="list-group-item" *ngFor="let instructor of instructorsByLastName$ | async">
            <a routerLink="/instructors/{{instructor.id}}">
                {{instructor.firstName}} {{instructor.lastName}}
            </a>
        </li>
    </ul>
</div>
