<div class="container">
  <h3>Instructor Form Template</h3>
  <form
    #instructorForm="ngForm"
    appUniqueInstructor
    (ngSubmit)="
      add(firstName.value, lastName.value, email.value, password.value)
    "
    >
    <div [hidden]="instructorForm.submitted">
      <div
        class="cross-validation"
        [class.cross-validation-error]="instructorForm.errors?.['uniqueInstructor'] && (instructorForm.dirty || instructorForm.touched)"
        >
        <div class="form-group">
          <label for="first-name">
            First Name
            <input
              type="text"
              id="first-name"
              name="first-name"
              class="form-control"
              required
              minlength="1"
              maxlength="64"
              [(ngModel)]="instructor.firstName"
              #firstName="ngModel"
              [ngModelOptions]="{ updateOn: 'blur' }"
              appNoWhiteSpace
              />

            @if (firstName.pending) {
              <div>Validating...</div>
            }

            @if (
              firstName.invalid && (firstName.dirty || firstName.touched)
              ) {
              <div
                class="alert alert-danger first-name-errors"
                >
                @if (firstName.errors?.['required']) {
                  <div>
                    First Name is required.
                  </div>
                }
                @if (firstName.errors?.['minlength']) {
                  <div>
                    First Name must be at least 1 character long.
                  </div>
                }
                @if (firstName.errors?.['maxlength']) {
                  <div>
                    First Name must be at most 64 characters long.
                  </div>
                }
                @if (firstName.errors?.['noWhiteSpace']) {
                  <div>
                    First Name must not contain spaces.
                  </div>
                }
              </div>
            }
          </label>
        </div>

        <div class="form-group">
          <label for="last-name">
            Last Name
            <input
              type="text"
              id="last-name"
              name="last-name"
              class="form-control"
              minlength="0"
              maxlength="64"
              [(ngModel)]="instructor.lastName"
              #lastName="ngModel"
              [ngModelOptions]="{ updateOn: 'blur' }"
              appNoWhiteSpace
              />

            @if (lastName.pending) {
              <div>Validating...</div>
            }
            @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
              <div
                class="alert alert-danger last-name-errors"
                >
                @if (lastName.errors?.['required']) {
                  <div>
                    Last Name is required.
                  </div>
                }
                @if (lastName.errors?.['minlength']) {
                  <div>
                    Last Name must be at least 0 characters long.
                  </div>
                }
                @if (lastName.errors?.['maxlength']) {
                  <div>
                    Last Name must be at most 64 characters long.
                  </div>
                }
                @if (lastName.errors?.['noWhiteSpace']) {
                  <div>
                    Last Name must not contain spaces.
                  </div>
                }
              </div>
            }
          </label>
        </div>

        <div class="form-group">
          <label for="email">
            Email
            <input
              type="email"
              id="email"
              class="form-control"
              required
              name="email"
              minlength="5"
              [(ngModel)]="instructor.email"
              #email="ngModel"
              [ngModelOptions]="{ updateOn: 'blur' }"
              appUniqueEmail
              appNoWhiteSpace
              email
              appEmailTld
              />
          </label>

          @if (email.pending) {
            <div>Validating...</div>
          }
          @if (email.invalid && (email.dirty || email.touched)) {
            <div
              class="alert alert-danger email-errors"
              >
              @if (email.errors?.['required']) {
                <div>Email is required.</div>
              }
              @if (email.errors?.['minlength']) {
                <div>
                  Email must be at least 5 characters long.
                </div>
              }
              @if (email.errors?.['maxlength']) {
                <div>
                  Email must be at most 64 characters long.
                </div>
              }
              @if (email.errors?.['email']) {
                <div>
                  Email must be properly formatted.
                </div>
              }
              @if (email.errors?.['emailTld']) {
                <div>
                  Email must have a TLD after the last '.' character.
                </div>
              }
              @if (email.errors?.['pattern']) {
                <div>
                  Email must be properly formatted.
                </div>
              }
              @if (email.errors?.['noWhiteSpace']) {
                <div>
                  Email must not contain spaces.
                </div>
              }
              @if (email.errors?.['uniqueEmail']) {
                <div>
                  Email is already registered.
                </div>
              }
            </div>
          }
        </div>

        <!--
        <div class="form-group">
          <label for="username">
            Username
            <input
              type="text"
              id="username"
              class="form-control"
              required
              name="username"
              minlength="2"
              [(ngModel)]="student.username"
              #username="ngModel"
              [ngModelOptions]="{ updateOn: 'blur' }"
              appUniqueUsername
              appNoWhiteSpace
              username
              />
          </label>

          <div *ngIf="username.pending">Validating...</div>
          <div
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="alert alert-danger username-errors"
            >
            <div *ngIf="username.errors?.['required']">
              Username is required.
            </div>
            <div *ngIf="username.errors?.['minlength']">
              Username must be at least 2 characters long.
            </div>
            <div *ngIf="username.errors?.['maxlength']">
              Username must be at most 64 characters long.
            </div>
            <div *ngIf="username.errors?.['username']">
              Username must be properly formatted.
            </div>
            <div *ngIf="username.errors?.['noWhiteSpace']">
              Username must not contain spaces.
            </div>
            <div *ngIf="username.errors?.['uniqueUsername']">
              Username is already registered.
            </div>
          </div>
        </div>
        -->

        <div class="form-group">
          <label for="password">
            Password
            <input
              type="password"
              id="password"
              class="form-control"
              required
              name="password"
              minlength="6"
              maxlength="14"
              [(ngModel)]="instructor.password"
              #password="ngModel"
              appLowercaseChar
              appUppercaseChar
              appDigitChar
              appSymbolChar
              />
          </label>

          @if (password.invalid && (password.dirty || password.touched)) {
            <div
              class="alert alert-danger"
              >
              @if (password.errors?.['required']) {
                <div>
                  Password is required.
                </div>
              }
              @if (password.errors?.['minlength']) {
                <div>
                  Password must be at least 6 characters long.
                </div>
              }
              @if (password.errors?.['maxlength']) {
                <div>
                  Password must be at most 14 characters long.
                </div>
              }
              @if (password.errors?.['pattern']) {
                <div>
                  Password must be a valid password, with uppercase and lowercase
                  characters, digits and symbols.
                </div>
              }
              @if (password.errors?.['lowercaseChar']) {
                <div>
                  Password must contain at least one lowercase character.
                </div>
              }
              @if (password.errors?.['uppercaseChar']) {
                <div>
                  Password must contain at least one uppercase character.
                </div>
              }
              @if (password.errors?.['digitChar']) {
                <div>
                  Password must contain at least one digit.
                </div>
              }
              @if (password.errors?.['symbolChar']) {
                <div>
                  Password must contain at least one symbol.
                </div>
              }
            </div>
          }
        </div>

        <div class="form-group">
          <label for="confirmPassword">
            Confirm Password
            <input
              type="password"
              id="confirmPassword"
              class="form-control"
              required
              name="confirmPassword"
              minlength="6"
              maxlength="14"
              [(ngModel)]="instructor.confirmPassword"
              #confirmPassword="ngModel"
              [pattern]="password.value"
              />
          </label>

          @if (
            confirmPassword.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)
            ) {
            <div
              class="alert alert-danger"
              >
              @if (confirmPassword.errors?.['required']) {
                <div>
                  Password Confirmation is required.
                </div>
              }
              @if (confirmPassword.errors?.['minlength']) {
                <div>
                  Password Confirmation must be at least 6 characters long.
                </div>
              }
              @if (confirmPassword.errors?.['maxlength']) {
                <div>
                  Password Confirmation must be at most 14 characters long.
                </div>
              }
              @if (confirmPassword.errors?.['pattern']) {
                <div>
                  Password Confirmation must match Password.
                </div>
              }
            </div>
          }
        </div>

        @if (instructorForm.pending) {
          <div>Validating...</div>
        }

        @if (instructorForm.errors?.['uniqueInstructor']) {
          <div
            class="cross-validation-error-message alert alert-danger instructor-errors"
            >
            Instructor is already registered.
          </div>
        }
      </div>

      <p>Complete the form to enable the Submit button.</p>
      @if (instructorForm.valid) {
        <button
          type="submit"
          [disabled]="instructorForm.invalid"
          class="btn btn-success"
          >
          Submit
        </button>
      }

      &nbsp;

      <button
        type="button"
        (click)="instructorForm.resetForm({ firstName: '' })"
        class="btn btn-warning"
        >
        Reset
      </button>
    </div>

    @if (instructorForm.submitted) {
      <div class="submitted-message">
        <p>
          You’ve submitted your instructor, {{ instructorForm.value.firstName }}
          {{ instructorForm.value.lastName }}!
        </p>
        <button
          type="button"
          (click)="instructorForm.resetForm({ firstName: '' })"
          class="btn btn-success"
          >
          Add new instructor
        </button>
      </div>
    }
  </form>
</div>
