<div class="container" id="search-component">
  <div class="form-group">
    <label for="name">
      Equipment Search by
      <span class="badge rounded-pill text-bg-secondary">name</span>

      <select
        id="name"
        name="name"
        class="form-control"
        required
        [(ngModel)]="nameSought"
        #name="ngModel"
        >
        @for (uniqueName of uniqueNames; track uniqueName) {
          <option [value]="uniqueName">
            {{ uniqueName }}
          </option>
        }
      </select>

      @if (name.invalid && (name.dirty || name.touched)) {
        <div
          class="alert alert-danger"
          >
          @if (name.errors?.['required']) {
            <div>Name is required.</div>
          }
          @if (name.errors?.['minlength']) {
            <div>
              Name must be at least 1 character long.
            </div>
          }
          @if (name.errors?.['maxlength']) {
            <div>
              Name must be at most 42 characters long.
            </div>
          }
        </div>
      }

      @if (name.valid) {
        <span>{{ searchByName(name.value) }}</span>
      }
    </label>
  </div>

  @if (name.valid) {
    <ul class="search-result list-group">
      @for (equipment of equipmentsByName$ | async; track equipment) {
        <li
          class="list-group-item"
          >
          <a routerLink="/instructors/{{ equipment.id }}">
            {{ equipment.name }} - {{ equipment.price | currency : "EUR" }}
          </a>
        </li>
      }
    </ul>
  }

  <div class="form-group">
    <label for="price">
      Equipment Search by
      <span class="badge rounded-pill text-bg-success">price</span>

      <select
        id="price"
        name="price"
        class="form-control"
        required
        [(ngModel)]="priceSought"
        #price="ngModel"
        >
        @for (uniquePrice of uniquePrices; track uniquePrice) {
          <option
            [ngValue]="uniquePrice"
            >
            {{ uniquePrice | currency : "EUR" }}
          </option>
        }
      </select>

      @if (price.invalid && (price.dirty || price.touched)) {
        <div
          class="alert alert-danger"
          >
          @if (price.errors?.['required']) {
            <div>Price is required.</div>
          }
          @if (price.errors?.['min']) {
            <div>Price must be at least 0.01.</div>
          }
          @if (price.errors?.['max']) {
            <div>
              Price must be at most 99999999998.99.
            </div>
          }
        </div>
      }

      @if (price.valid) {
        <span>{{ searchByPrice(price.value) }}</span>
      }
    </label>
  </div>

  @if (price.valid) {
    <ul class="search-result list-group">
      @for (equipment of equipmentsByPrice$ | async; track equipment) {
        <li
          class="list-group-item"
          >
          <a routerLink="/instructors/{{ equipment.id }}">
            {{ equipment.name }} - {{ equipment.price | currency : "EUR" }}
          </a>
        </li>
      }
    </ul>
  }
</div>
