<div class="container">
  <button (click)="goBack()" type="button" class="btn btn-default">
    go back
  </button>
</div>

@if (instructor) {
  <div class="container">
    <form #instructorForm="ngForm" appUniqueInstructor (ngSubmit)="save()">
      <div [hidden]="instructorForm.submitted">
        <div
          class="cross-validation"
          [class.cross-validation-error]="instructorForm.errors?.['uniqueInstructor'] && (instructorForm.dirty || instructorForm.touched)"
          >
          <div><span> id: </span>{{ instructor.id }}</div>
          <img
          src="./assets/images/{{ instructor.firstName }}-{{
            instructor.lastName
          }}.png"
            alt="Photo of {{ instructor.firstName }} {{ instructor.lastName }}"
            width="256"
            height="256"
            class="img-fluid img-thumbnail"
            />
          <h3>
            {{ instructor.firstName | uppercase }}
            {{ instructor.lastName | uppercase }} Details
          </h3>
          <div class="form-group">
            <label for="firstName">
              First Name
              <input
                type="text"
                id="firstName"
                name="firstName"
                class="form-control"
                required
                minlength="1"
                maxlength="255"
                [ngModel]="instructor.firstName"
                (ngModelChange)="instructor.firstName = $event"
                #firstName="ngModel"
                />
              @if (
                firstName.invalid && (firstName.dirty || firstName.touched)
                ) {
                <div
                  class="alert alert-danger"
                  >
                  @if (firstName.errors?.['required']) {
                    <div>
                      First Name is required.
                    </div>
                  }
                  @if (firstName.errors?.['minlength']) {
                    <div>
                      First Name must be at least 1 character long.
                    </div>
                  }
                  @if (firstName.errors?.['maxlength']) {
                    <div>
                      First Name must be at most 255 characters long.
                    </div>
                  }
                </div>
              }
            </label>
          </div>
          <div class="form-group">
            <label for="lastName">
              Last Name
              <input
                type="text"
                id="lastName"
                name="lastName"
                class="form-control"
                maxlength="255"
                [ngModel]="instructor.lastName"
                (ngModelChange)="instructor.lastName = $event"
                #lastName="ngModel"
                />
              @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
                <div
                  class="alert alert-danger"
                  >
                  @if (lastName.errors?.['maxlength']) {
                    <div>
                      Last Name must be at most 255 characters long.
                    </div>
                  }
                </div>
              }
            </label>
          </div>
          @if (instructorForm.pending) {
            <div>Validating...</div>
          }
          @if (instructorForm.errors?.['uniqueInstructor']) {
            <div
              class="cross-validation-error-message alert alert-danger instructor-errors"
              >
              Instructor is already registered.
            </div>
          }
        </div>
        <p>Make valid changes to enable the Update button.</p>
        <button
          type="submit"
          [disabled]="instructorForm.invalid"
          class="btn btn-default btn-primary btn-success"
          >
          Update
        </button>
      </div>
      @if (instructorForm.submitted) {
        <div class="submitted-message">
          <p>
            You've submitted your instructor, {{ instructorForm.value.firstName }}
            {{ instructorForm.value.lastName }}!
          </p>
        </div>
      }
    </form>
  </div>
}
