<div class="container">
  <h3>Student Form Template</h3>
  <!-- <form #studentForm="ngForm" (ngSubmit)="add(email.value, password.value)"> -->
  <form
    #studentForm="ngForm"
    (ngSubmit)="
      add(firstName.value, lastName.value, email.value, password.value)
    "
  >
    <div [hidden]="studentForm.submitted">
      <div
        class="cross-validation"
        [class.cross-validation-error]="studentForm.errors?.['identityRevealed'] && (studentForm.touched || studentForm.dirty)"
      >
        <div class="form-group">
          <label for="first-name">
            First Name
            <input
              type="text"
              id="first-name"
              class="form-control"
              required
              name="first-name"
              minlength="2"
              maxlength="64"
              [(ngModel)]="student.firstName"
              #firstName="ngModel"
              [ngModelOptions]="{ updateOn: 'blur' }"
              appNoWhiteSpace
            />
          </label>
          <div *ngIf="firstName.pending">Validating...</div>
          <div
            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
            class="alert alert-danger first-name-errors"
          >
            <div *ngIf="firstName.errors?.['required']">
              First Name is required.
            </div>
            <div *ngIf="firstName.errors?.['minlength']">
              First Name must be at least 5 characters long.
            </div>
            <div *ngIf="firstName.errors?.['maxlength']">
              First Name must be at most 64 characters long.
            </div>
            <div *ngIf="firstName.errors?.['noWhiteSpace']">
              First Name must not contain spaces.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="last-name">
            Last Name
            <input
              type="text"
              id="last-name"
              class="form-control"
              name="last-name"
              minlength="0"
              maxlength="64"
              [(ngModel)]="student.lastName"
              #lastName="ngModel"
              [ngModelOptions]="{ updateOn: 'blur' }"
              appNoWhiteSpace
            />
          </label>
          <div *ngIf="lastName.pending">Validating...</div>
          <div
            *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
            class="alert alert-danger last-name-errors"
          >
            <div *ngIf="lastName.errors?.['required']">
              Last Name is required.
            </div>
            <div *ngIf="lastName.errors?.['minlength']">
              Last Name must be at least 0 characters long.
            </div>
            <div *ngIf="lastName.errors?.['maxlength']">
              Last Name must be at most 64 characters long.
            </div>
            <div *ngIf="lastName.errors?.['noWhiteSpace']">
              Last Name must not contain spaces.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">
            Email
            <input
              type="email"
              id="email"
              class="form-control"
              required
              name="email"
              minlength="5"
              [(ngModel)]="student.email"
              #email="ngModel"
              [ngModelOptions]="{ updateOn: 'blur' }"
              appUniqueEmail
              appNoWhiteSpace
              email
              appEmailTld
            />
          </label>

          <div *ngIf="email.pending">Validating...</div>
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger email-errors"
          >
            <div *ngIf="email.errors?.['required']">Email is required.</div>
            <div *ngIf="email.errors?.['minlength']">
              Email must be at least 5 characters long.
            </div>
            <div *ngIf="email.errors?.['maxlength']">
              Email must be at most 64 characters long.
            </div>
            <div *ngIf="email.errors?.['email']">
              Email must be properly formatted.
            </div>
            <div *ngIf="email.errors?.['emailTld']">
              Email must have a TLD after the last '.' character.
            </div>
            <div *ngIf="email.errors?.['pattern']">
              Email must be properly formatted.
            </div>
            <div *ngIf="email.errors?.['noWhiteSpace']">
              Email must not contain spaces.
            </div>
            <div *ngIf="email.errors?.['uniqueEmail']">
              Email is already registered.
            </div>
          </div>
        </div>

        <!--
        <div class="form-group">
          <label for="username">
            Username
            <input
              type="text"
              id="username"
              class="form-control"
              required
              name="username"
              minlength="2"
              [(ngModel)]="student.username"
              #username="ngModel"
              [ngModelOptions]="{ updateOn: 'blur' }"
              appUniqueUsername
              appNoWhiteSpace
              username
            />
          </label>

          <div *ngIf="username.pending">Validating...</div>
          <div
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="alert alert-danger username-errors"
          >
            <div *ngIf="username.errors?.['required']">
              Username is required.
            </div>
            <div *ngIf="username.errors?.['minlength']">
              Username must be at least 2 characters long.
            </div>
            <div *ngIf="username.errors?.['maxlength']">
              Username must be at most 64 characters long.
            </div>
            <div *ngIf="username.errors?.['username']">
              Username must be properly formatted.
            </div>
            <div *ngIf="username.errors?.['noWhiteSpace']">
              Username must not contain spaces.
            </div>
            <div *ngIf="username.errors?.['uniqueUsername']">
              Username is already registered.
            </div>
          </div>
        </div>
         -->

        <div class="form-group">
          <label for="password">
            Password
            <input
              type="password"
              id="password"
              class="form-control"
              required
              name="password"
              minlength="6"
              maxlength="14"
              [(ngModel)]="student.password"
              #password="ngModel"
              appLowercaseChar
              appUppercaseChar
              appDigitChar
              appSymbolChar
            />
          </label>

          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="password.errors?.['minlength']">
              Password must be at least 6 characters long.
            </div>
            <div *ngIf="password.errors?.['maxlength']">
              Password must be at most 14 characters long.
            </div>

            <div *ngIf="password.errors?.['pattern']">
              Password must be a valid password, with uppercase and lowercase
              characters, digits and symbols.
            </div>

            <div *ngIf="password.errors?.['lowercaseChar']">
              Password must contain at least one lowercase character.
            </div>

            <div *ngIf="password.errors?.['uppercaseChar']">
              Password must contain at least one uppercase character.
            </div>

            <div *ngIf="password.errors?.['digitChar']">
              Password must contain at least one digit.
            </div>

            <div *ngIf="password.errors?.['symbolChar']">
              Password must contain at least one symbol.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">
            Confirm Password
            <input
              type="password"
              id="confirmPassword"
              class="form-control"
              required
              name="confirmPassword"
              minlength="6"
              maxlength="14"
              [(ngModel)]="student.confirmPassword"
              #confirmPassword="ngModel"
              [pattern]="password.value"
            />
          </label>

          <div
            *ngIf="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="confirmPassword.errors?.['required']">
              Password Confirmation is required.
            </div>
            <div *ngIf="confirmPassword.errors?.['minlength']">
              Password Confirmation must be at least 6 characters long.
            </div>
            <div *ngIf="confirmPassword.errors?.['maxlength']">
              Password Confirmation must be at most 14 characters long.
            </div>

            <div *ngIf="confirmPassword.errors?.['pattern']">
              Password Confirmation must match Password.
            </div>
          </div>
        </div>
      </div>

      <p>Complete the form to enable the Submit button.</p>
      <button
        type="submit"
        *ngIf="studentForm.valid"
        [disabled]="studentForm.invalid"
        class="btn btn-success"
      >
        Submit
      </button>

      &nbsp;

      <!--
              03/02/2023
              TODO: search instructors by firstName, lastName selection options
              TODO: search equipment by name, price selection options
            -->

      <button
        type="button"
        (click)="studentForm.resetForm({})"
        class="btn btn-warning"
      >
        Reset
      </button>
    </div>

    <div class="submitted-message" *ngIf="studentForm.submitted">
      <p>You've submitted your student, {{ studentForm.value.email }}!</p>

      <button
        type="button"
        (click)="studentForm.resetForm({})"
        class="btn btn-success"
      >
        Add new student
      </button>
    </div>
  </form>
</div>
