<!--
<div>
    <div>
        <label for="new-equipment">
            Equipment name:
            <input #equipmentName id="new-equipment">
        </label>
    </div>

    <div>
        <label for="new-equipment-price">
            Equipment price:
            <input #equipmentPrice id="new-equipment-price" type="number">
        </label>
    </div>

    <button (click)="add(equipmentName.value, +equipmentPrice.value); equipmentName.value=''; equipmentPrice.value=''; ">
        Add equipment
    </button>
</div>

<ul class="equipments list-group">
    <li class="list-group-item" *ngFor="let equipment of equipments">
        <button (click)="onSelect(equipment)" [class.selected]="equipment === selectedEquipment" type="button">
            <span class="badge">{{equipment.equipmentId}}</span>
            <span class="name">{{equipment.name}}</span>
            <span class="price">{{equipment.price}}</span>
        </button>

        <a routerLink="/equipments/{{equipment.equipmentId}}">
            <span class="badge">{{equipment.equipmentId}}</span>
            {{equipment.name}} x {{equipment.price}}
        </a>

        <button (click)="delete(equipment)" class="delete" title="delete equipment" type="button">
            x</button>
    </li>
</ul>
-->

<!--
<div *ngIf="selectedEquipment">
    <h2>
        {{selectedEquipment.name | uppercase}} Details
    </h2>

    <div>id: {{selectedEquipment.equipmentId}}</div>

    <div>
        <label for="equipment-name">
            Equipment name:
            <input [(ngModel)]="selectedEquipment.name" id="equipment-name" placeholder="name">
        </label>
    </div>

    <div>
        <label for="equipment-price">
            Equipment price:
            <input [(ngModel)]="selectedEquipment.price" id="equipment-price" placeholder="price" type="number">
        </label>
    </div>
</div>
-->

<!-- <app-equipment-detail *ngIf="selectedEquipment" [equipment]="selectedEquipment"></app-equipment-detail> -->


<div class="container">
    <a routerLink="new" class="btn btn-success"> &plus; Add new Equipment </a>
    &nbsp;
    <a routerLink="search" class="btn btn-info"> &#8981; Search Equipments &#x2315; </a>
</div>

<h1 id="equipments">Equipments</h1>

<p *ngIf="!equipments">
    <em>
        Loading... Please refresh once the ASP.NET back-end has started!
    </em>
</p>

<table *ngIf="equipments" class="equipments table">
    <thead>
        <tr>
            <th> Equipment ID </th>
            <th> Name </th>
            <th class="price"> Price </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let equipment of equipments" (click)="onSelect(equipment)" [class.selected]="equipment === selectedEquipment">
            <td class="badge">{{ equipment.equipmentId }}</td>
            <td class="name">{{ equipment.name }}</td>
            <td class="price">{{ equipment.price | currency : 'EUR' }}</td>

            <td>
                <a routerLink="/equipments/{{ equipment.equipmentId }}" class="edit btn btn-warning">
                    Edit &#9999; id=<span class="badge">{{ equipment.equipmentId }}</span>
                </a>
            </td>

            <td>
                <button (click)="delete(equipment)" class="delete btn btn-danger" title="delete equipment" type="button">
                    x Delete id=<span class="badge">{{ equipment.equipmentId }}</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<h2>Shopping Cart</h2>
