<h1>{{ title }}</h1>

<div class="container">
  <!-- <a routerLink="dashboard"> Dashboard</a> -->
  &nbsp;
  <a routerLink="students"> Students</a>
  &nbsp;
  <a routerLink="instructors"> Instructors</a>
  &nbsp;
  <a routerLink="martial-arts"> Martial Arts</a>
  &nbsp;
  <a routerLink="classes"> Classes</a>
  &nbsp;
  <a routerLink="equipments"> Equipment</a>
</div>

<hr>

<!--
<nav>
      &nbsp;
      <a routerLink="students"> Students</a>
      &nbsp;
      <a routerLink="instructors"> Instructors</a>
      &nbsp;
      <a routerLink="martial-arts"> Martial Arts</a>
      &nbsp;
      <a routerLink="classes"> Classes</a>
      &nbsp;
      <a routerLink="equipments"> Equipment</a>
    </nav>
  -->

<!--
  <div class="navbar-collapse collapse">
    <nav>
      -->
<!-- <li role="presentation"> -->
<!--
        <li>
          <a routerLink="dashboard"> Dashboard</a>
        </li>
      -->
<!--
        &nbsp;
        <li>
            <a routerLink="students"> Students</a>
        </li>
        &nbsp;
        <li>
            <a routerLink="instructors"> Instructors</a>
        </li>
        &nbsp;
        <li>
            <a routerLink="martial-arts"> Martial Arts</a>
          </li>
          &nbsp;
          <li>
            <a routerLink="classes"> Classes</a>
          </li>
          &nbsp;
          <li>
            <a routerLink="equipments"> Equipment</a>
          </li>
        </nav>
      </div>
    -->


<router-outlet></router-outlet>


<!--

  <h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="forecasts" class="forecasts table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.date }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table>

-->

<!-- TODO: FIXME: BUG: HACK: XXX: [x]: []: task keywords -->
<!-- XXX: all the page refused to render after the routing error -->
<!-- [x]: make the page render again -->
<!-- [ ]: solve the underlying issue -->
<!-- HACK: had to comment out the component element to have the others show again -->
<!-- TODO: fix student-detail by dealing with route:ActivatedRoute?? -->
<!-- <app-martial-art-detail [martialArt]=""></app-martial-art-detail> -->




<app-messages></app-messages>