<div class="container">
    <button (click)="goBack()" type="button" class="btn btn-default">go back</button>
</div>

<div class="container" *ngIf="martialArt">
    <form #martialArtForm="ngForm" (ngSubmit)="save()">
        <div [hidden]="martialArtForm.submitted">
            <div>
                <span>
                    id:
                </span>{{ martialArt.id }}
            </div>

            <h2>
                {{ martialArt.name | uppercase }} Details
            </h2>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" required minlength="1" maxlength="42" [(ngModel)]="martialArt.name" #name="ngModel" [ngModelOptions]="{ updateOn: 'blur' }" appUniqueMartialArt>

                <div *ngIf="name.pending">Validating...</div>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger name-errors">

                    <div *ngIf="name.errors?.['required']">
                        Name is required.
                    </div>
                    <div *ngIf="name.errors?.['minlength']">
                        Name must be at least 1 character long.
                    </div>
                    <div *ngIf="name.errors?.['maxlength']">
                        Name must be at most 42 characters long.
                    </div>

                    <div *ngIf="name.errors?.['uniqueMartialArt']">
                        Name is already taken.
                    </div>

                </div>
            </div>

            <p>Make valid changes to enable the Update button.</p>
            <button type="submit" [disabled]="martialArtForm.invalid" class="btn btn-success">
                Update
            </button>
        </div>

        <div class="submitted-message" *ngIf="martialArtForm.submitted">
            <p>You've submitted your martial art, {{ martialArtForm.value.name }}!</p>

            <button type="button" (click)="martialArtForm.resetForm({})" class="btn btn-success">
                Add new martial art
            </button>
        </div>
    </form>
</div>
