<div class="container" id="search-component">
  <div class="form-group">
    <label for="martialArtId">
      Class Search by
      <span class="badge rounded-pill text-bg-primary">martial art</span>
      <span class="badge rounded-pill text-bg-secondary">ID</span>

      <select
        id="martialArtId"
        name="martialArtId"
        class="form-control"
        required
        appId
        appMartialArtId
        [(ngModel)]="martialArtIdSought"
        #martialArtId="ngModel"
        >
        @for (martialArt of martialArts; track martialArt) {
          <option
            [ngValue]="martialArt.id"
            >
            {{ martialArt.name }}
            <!-- - id={{ martialArt.id }} -->
          </option>
        }
      </select>
    </label>

    @if (
      martialArtId.invalid && (martialArtId.dirty || martialArtId.touched)
      ) {
      <div
        class="alert alert-danger"
        >
        @if (martialArtId.errors?.['required']) {
          <div>
            Martial Art ID is required.
          </div>
        }
        @if (martialArtId.errors?.['validId']) {
          <div>
            Martial Art ID is invalid.
          </div>
        }
        @if (martialArtId.errors?.['validMartialArtId']) {
          <div>
            {{ martialArtId | json }}
            error above delete it Martial Art ID is not an existing martial art's
            ID.
          </div>
        }
      </div>
    }

    @if (martialArtId.valid) {
      <span>{{
        searchByMartialArtId(martialArtId.value)
      }}</span>
    }
  </div>

  @if (martialArtId.valid) {
    <ul class="search-result list-group">
      @for (class of classesByMartialArtId$ | async; track class) {
        <li
          class="list-group-item"
          >
          <a routerLink="/classes/{{ class.id }}">
            <!-- {{ aliasMartialArt(class.martialArtId) }} by {{ aliasInstructor(class.instructorId) }} &commat; -->
            {{ class.martialArt.name }} by {{ class.instructor.firstName }}
            {{ class.instructor.lastName }} &commat; {{ class.dateTime | date }} for
            {{ class.pricePerHour | currency : "EUR" }}
          </a>
        </li>
      }
    </ul>
  }

  <div class="form-group">
    <label for="instructorId">
      Class Search by
      <span class="badge rounded-pill text-bg-danger">instructor</span>
      <span class="badge rounded-pill text-bg-secondary">ID</span>

      <select
        id="instructorId"
        name="instructorId"
        class="form-control"
        required
        appId
        appInstructorId
        [(ngModel)]="instructorIdSought"
        #instructorId="ngModel"
        >
        @for (instructor of instructors; track instructor) {
          <option
            [ngValue]="instructor.id"
            >
            {{ instructor.firstName }} {{ instructor.lastName }}
          </option>
        }
      </select>
    </label>

    @if (
      instructorId.invalid && (instructorId.dirty || instructorId.touched)
      ) {
      <div
        class="alert alert-danger"
        >
        @if (instructorId.errors?.['required']) {
          <div>
            Instructor ID is required.
          </div>
        }
        @if (instructorId.errors?.['validId']) {
          <div>
            Instructor ID is invalid.
          </div>
        }
        @if (instructorId.errors?.['validInstructorId']) {
          <div>
            Instructor ID is not an existing instructor's ID.
          </div>
        }
      </div>
    }

    @if (instructorId.valid) {
      <span>{{
        searchByInstructorId(instructorId.value)
      }}</span>
    }
  </div>

  @if (instructorId.valid) {
    <ul class="search-result list-group">
      @for (class of classesByInstructorId$ | async; track class) {
        <li
          class="list-group-item"
          >
          <a routerLink="/classes/{{ class.id }}">
            {{ class.martialArt.name }} by {{ class.instructor.firstName }}
            {{ class.instructor.lastName }} &commat; {{ class.dateTime | date }} for
            {{ class.pricePerHour | currency : "EUR" }}
          </a>
        </li>
      }
    </ul>
  }

  <div class="form-group">
    <label for="dateTime">
      Class Search by
      <span class="badge rounded-pill text-bg-warning">Date & Time</span>

      <select
        id="dateTime"
        name="dateTime"
        class="form-control"
        required
        appDateTime
        [(ngModel)]="dateTimeSought"
        #dateTime="ngModel"
        >
        @for (class1 of classes | uniqueDateTimeFilter; track class1) {
          <option
            [ngValue]="class1.dateTime"
            >
            {{ class1.dateTime }}
          </option>
        }
      </select>
    </label>

    @if (dateTime.invalid && (dateTime.dirty || dateTime.touched)) {
      <div
        class="alert alert-danger"
        >
        @if (dateTime.errors?.['required']) {
          <div>Date & Time is required.</div>
        }
        @if (dateTime.errors?.['validDateTime']) {
          <div>
            Date & Time is invalid.
          </div>
        }
      </div>
    }

    @if (dateTime.valid) {
      <span>{{ searchByDateTime(dateTime.value) }}</span>
    }
  </div>

  @if (dateTime.valid) {
    <ul class="search-result list-group">
      @for (class of classesByDateTime$ | async; track class) {
        <li
          class="list-group-item"
          >
          <a routerLink="/classes/{{ class.id }}">
            <!-- {{ aliasMartialArt(class.martialArtId) }} by -->
            {{ class.martialArt.name }} by
            <!-- {{ aliasInstructor(class.instructorId) }} &commat; -->
            {{ class.instructor.firstName }}
            {{ class.instructor.lastName }} &commat; {{ class.dateTime }} for
            {{ class.pricePerHour | currency : "EUR" }}
          </a>
        </li>
      }
    </ul>
  }

  <div class="form-group">
    <label for="pricePerHour">
      Class Search by
      <span class="badge rounded-pill text-bg-success">Price per Hour</span>

      <select
        id="pricePerHour"
        name="pricePerHour"
        class="form-control"
        required
        [(ngModel)]="priceSought"
        #pricePerHour="ngModel"
        >
        @for (class of classes | uniquePricePerHourFilter; track class) {
          <option
            [ngValue]="class.pricePerHour"
            >
            {{ class.pricePerHour | currency : "EUR" }}
          </option>
        }
      </select>
    </label>

    @if (
      pricePerHour.invalid && (pricePerHour.dirty || pricePerHour.touched)
      ) {
      <div
        class="alert alert-danger"
        >
        @if (pricePerHour.errors?.['required']) {
          <div>
            Price per Hour is required.
          </div>
        }
        @if (pricePerHour.errors?.['min']) {
          <div>
            Price per Hour must be at least 0.01.
          </div>
        }
        @if (pricePerHour.errors?.['max']) {
          <div>
            Price per Hour must be at most 99999999998.99.
          </div>
        }
      </div>
    }

    @if (pricePerHour.valid) {
      <span>{{
        searchByPrice(pricePerHour.value)
      }}</span>
    }
  </div>

  @if (pricePerHour.valid) {
    <ul class="search-result list-group">
      @for (class of classesByPrice$ | async; track class) {
        <li class="list-group-item">
          <a routerLink="/classes/{{ class.id }}">
            <!-- {{ aliasMartialArt(class.martialArtId) }} by -->
            {{ class.martialArt.name }} by
            <!-- {{ aliasInstructor(class.instructorId) }} &commat; -->
            {{ class.instructor.firstName }}
            {{ class.instructor.lastName }} &commat; {{ class.dateTime | date }} for
            {{ class.pricePerHour | currency : "EUR" }}
          </a>
          <!-- {{ class | json }} -->
        </li>
      }
    </ul>
  }
</div>
