<!-- <p>navigation works!</p> -->

<!-- <app-file-upload></app-file-upload> -->
<!-- <app-upload2></app-upload2> -->

<nav>
  <ul class="nav nav-tabs justify-content-center">
    @for (link of links; track link; let i = $index) {
      <li>
        <a [routerLink]="link.url" routerLinkActive="router-link-active">
          {{ link.title }}
        </a>
      </li>
      &nbsp;
    }

    @if (isUserConnected) {
      <li (click)="viewProfile()">
        {{ loggedInUser?.email }}
      </li>
    }
  </ul>
</nav>
