<!-- <p>student-form-reactive works!</p> -->

<div class="container">
  <h3>Student Form Reactive</h3>
  <!-- <form [formGroup]="studentForm" #formDir="ngForm" (ngSubmit)="add(email.value, password?.value)"> -->
  <form
    [formGroup]="studentForm"
    #formDir="ngForm"
    (ngSubmit)="
      add(firstName.value, lastName.value, email.value, password?.value)
    "
    >
    <div [hidden]="formDir.submitted">
      <div
        class="cross-validation"
        [class.cross-validation-error]="studentForm.errors?.['identityRevealed'] && (studentForm.touched || studentForm.dirty)"
        >
        <!-- #region firstName -->
        <div class="form-group">
          <label for="first-name">
            First Name
            <input
              type="text"
              id="first-name"
              class="form-control"
              formControlName="firstName"
              name="first-name"
              />
          </label>

          @if (firstName.pending) {
            <div>Validating...</div>
          }
          @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
            <div
              class="alert alert-danger first-name-errors"
              >
              @if (firstName.errors?.['required']) {
                <div>
                  First Name is required.
                </div>
              }
              @if (firstName.errors?.['minlength']) {
                <div>
                  First Name must be at least 2 characters long.
                </div>
              }
              @if (firstName.errors?.['maxlength']) {
                <div>
                  <!--
                  31/01/2023
                  TODO: update firstName maxlength 64, not 320
                  -->
                  First Name must be at most 64 characters long.
                </div>
              }
              <!--
              {{ firstName.value.length }} :
              {{ firstName.value }}
              -->
              @if (firstName.errors?.['noWhiteSpace']) {
                <div>
                  First Name must not contain spaces.
                </div>
              }
            </div>
          }
        </div>
        <!-- #endregion -->

        <!-- #region lastName -->
        <div class="form-group">
          <label for="last-name">
            Last Name
            <input
              type="text"
              id="last-name"
              class="form-control"
              formControlName="lastName"
              name="last-name"
              />
          </label>
          @if (lastName.pending) {
            <div>Validating...</div>
          }
          @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
            <div
              class="alert alert-danger last-name-errors"
              >
              @if (lastName.errors?.['required']) {
                <div>
                  Last Name is required.
                </div>
              }
              @if (lastName.errors?.['minlength']) {
                <div>
                  Last Name must be at least 2 characters long.
                </div>
              }
              @if (lastName.errors?.['maxlength']) {
                <div>
                  <!--
                  31/01/2023
                  TODO: update lastName maxlength 64, not 320
                  -->
                  Last Name must be at most 64 characters long.
                </div>
              }
              <!--
              {{ lastName.value.length }} :
              {{ lastName.value }}
              -->
              @if (lastName.errors?.['noWhiteSpace']) {
                <div>
                  Last Name must not contain spaces.
                </div>
              }
            </div>
          }
        </div>
        <!-- #endregion -->

        <!-- #region email -->
        <div class="form-group">
          <label for="email">
            Email
            <input
              type="email"
              id="email"
              class="form-control"
              formControlName="email"
              name="email"
              />
          </label>

          @if (email.pending) {
            <div>Validating...</div>
          }
          @if (email.invalid && (email.dirty || email.touched)) {
            <div
              class="alert alert-danger email-errors"
              >
              @if (email.errors?.['required']) {
                <div>Email is required.</div>
              }
              @if (email.errors?.['minlength']) {
                <div>
                  Email must be at least 5 characters long.
                </div>
              }
              @if (email.errors?.['maxlength']) {
                <div>
                  <!--
                  31/01/2023
                  TODO: update email maxlength 64, not 320
                  -->
                  Email must be at most 64 characters long.
                </div>
              }
              <!--
              {{ email.value.length }} :
              {{ email.value }}
              -->
              @if (email.errors?.['email']) {
                <div>
                  Email must be properly formatted.
                </div>
              }
              @if (email.errors?.['emailTld']) {
                <div>
                  Email must have a TLD after the last '.' character.
                </div>
              }
              @if (email.errors?.['noWhiteSpace']) {
                <div>
                  Email must not contain spaces.
                </div>
              }
              @if (email.errors?.['uniqueEmail']) {
                <div>
                  Email is already registered.
                </div>
              }
            </div>
          }
        </div>
        <!-- #endregion -->

        <!-- #region username -->
        <!--
        <div class="form-group">
          <label for="username">
            Username
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="username"
              name="username"
              />
          </label>
          <div *ngIf="username.pending">Validating...</div>
          <div
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="alert alert-danger username-errors"
            >
            <div *ngIf="username.errors?.['required']">
              Username is required.
            </div>
            <div *ngIf="username.errors?.['minlength']">
              Username must be at least 2 characters long.
            </div>
            <div *ngIf="username.errors?.['maxlength']">
              -->
              <!--
              31/01/2023
              TODO: update username maxlength 64, not 320
              -->
              <!--
              Username must be at most 64 characters long.
            </div>
            -->
            <!--
            {{ username.value.length }} :
            {{ username.value }}
            -->
            <!--
            <div *ngIf="username.errors?.['noWhiteSpace']">
              Username must not contain spaces.
            </div>
            <div *ngIf="username.errors?.['uniqueUsername']">
              Username is already registered.
            </div>
          </div>
        </div>
        -->
        <!-- #endregion -->

        @if (studentForm.errors?.['identityRevealed'] && (studentForm.touched || studentForm.dirty)) {
          <div
            class="cross-validation-error-message alert alert-danger"
            >
            Password Confirmation must match Password.
          </div>
        }

        <!-- #region password -->
        <div class="form-group">
          <label for="password">
            Password
            <input
              type="password"
              id="password"
              class="form-control"
              formControlName="password"
              name="password"
              />
          </label>

          @if (password?.invalid && (password?.dirty || password?.touched)) {
            <div
              class="alert alert-danger"
              >
              @if (password?.errors?.['required']) {
                <div>
                  Password is required.
                </div>
              }
              @if (password?.errors?.['minlength']) {
                <div>
                  Password must be at least 6 characters long.
                </div>
              }
              @if (password?.errors?.['maxlength']) {
                <div>
                  Password must be at most 14 characters long.
                </div>
              }
              @if (password?.errors?.['pattern']) {
                <div>
                  Password must be a valid password, with uppercase and lowercase
                  characters, digits and symbols.
                </div>
              }
              @if (password?.errors?.['lowercaseChar']) {
                <div>
                  Password must contain at least one lowercase character.
                </div>
              }
              @if (password?.errors?.['uppercaseChar']) {
                <div>
                  Password must contain at least one uppercase character.
                </div>
              }
              @if (password?.errors?.['digitChar']) {
                <div>
                  Password must contain at least one digit.
                </div>
              }
              @if (password?.errors?.['symbolChar']) {
                <div>
                  Password must contain at least one symbol.
                </div>
              }
            </div>
          }
        </div>
        <!-- #endregion -->

        <!-- #region confirmPassword -->
        <div class="form-group">
          <label for="confirmPassword">
            Confirm Password
            <input
              type="password"
              id="confirmPassword"
              class="form-control"
              formControlName="confirmPassword"
              name="confirmPassword"
              [pattern]="password?.value"
              />
          </label>

          @if (
            confirmPassword.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)
            ) {
            <div
              class="alert alert-danger"
              >
              @if (confirmPassword.errors?.['required']) {
                <div>
                  Password Confirmation is required.
                </div>
              }
              @if (confirmPassword.errors?.['pattern']) {
                <div
                  class="cross-validation-error-message alert alert-danger"
                  >
                  Password Confirmation must match Password.
                </div>
              }
            </div>
          }
        </div>
        <!-- #endregion -->
      </div>

      <p>Complete the form to enable the Submit button.</p>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="studentForm.invalid"
        >
        Submit
      </button>

      &nbsp;

      <button
        type="button"
        class="btn btn-warning"
        (click)="formDir.resetForm({})"
        >
        Reset
      </button>
    </div>
  </form>

  @if (formDir.submitted) {
    <div class="submitted-message">
      <!-- <p>You've submitted your student, {{ studentForm.value.name }}!</p> -->
      <p>You've submitted your student, {{ studentForm.value.username }}!</p>
      <button
        type="button"
        (click)="formDir.resetForm({})"
        class="btn btn-success"
        >
        Add new student
      </button>
    </div>
  }
</div>
