<!-- <p>student-form-reactive works!</p> -->

<div class="container">
  <h3>Student Form Reactive</h3>
  <!-- <form [formGroup]="studentForm" #formDir="ngForm" (ngSubmit)="add(email.value, password?.value)"> -->
  <form
    [formGroup]="studentForm"
    #formDir="ngForm"
    (ngSubmit)="
      add(firstName.value, lastName.value, username.value, password?.value)
    "
  >
    <div [hidden]="formDir.submitted">
      <div
        class="cross-validation"
        [class.cross-validation-error]="studentForm.errors?.['identityRevealed'] && (studentForm.touched || studentForm.dirty)"
      >
        <!-- #region firstName -->
        <div class="form-group">
          <label for="first-name">
            First Name
            <input
              type="text"
              id="first-name"
              class="form-control"
              formControlName="firstName"
              name="first-name"
            />
          </label>

          <div *ngIf="firstName.pending">Validating...</div>
          <div
            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
            class="alert alert-danger first-name-errors"
          >
            <div *ngIf="firstName.errors?.['required']">
              First Name is required.
            </div>
            <div *ngIf="firstName.errors?.['minlength']">
              First Name must be at least 2 characters long.
            </div>
            <div *ngIf="firstName.errors?.['maxlength']">
              <!--
                            31/01/2023
                            TODO: update firstName maxlength 64, not 320
                          -->
              First Name must be at most 64 characters long.
            </div>
            <!--
                        {{ firstName.value.length }} :
                          {{ firstName.value }}
                        -->
            <div *ngIf="firstName.errors?.['noWhiteSpace']">
              First Name must not contain spaces.
            </div>
          </div>
        </div>
        <!-- #endregion -->

        <!-- #region lastName -->
        <div class="form-group">
          <label for="last-name">
            Last Name
            <input
              type="text"
              id="last-name"
              class="form-control"
              formControlName="lastName"
              name="last-name"
            />
          </label>
          <div *ngIf="lastName.pending">Validating...</div>
          <div
            *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
            class="alert alert-danger last-name-errors"
          >
            <div *ngIf="lastName.errors?.['required']">
              Last Name is required.
            </div>
            <div *ngIf="lastName.errors?.['minlength']">
              Last Name must be at least 2 characters long.
            </div>
            <div *ngIf="lastName.errors?.['maxlength']">
              <!--
                            31/01/2023
                            TODO: update lastName maxlength 64, not 320
                          -->
              Last Name must be at most 64 characters long.
            </div>
            <!--
                        {{ lastName.value.length }} :
                          {{ lastName.value }}
                        -->
            <div *ngIf="lastName.errors?.['noWhiteSpace']">
              Last Name must not contain spaces.
            </div>
          </div>
        </div>
        <!-- #endregion -->

        <!-- #region email -->
        <!-- 
        <div class="form-group">
          <label for="email">
            Email
            <input
              type="email"
              id="email"
              class="form-control"
              formControlName="email"
              name="email"
            />
          </label>

          <div *ngIf="email.pending">Validating...</div>
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger email-errors"
          >
            <div *ngIf="email.errors?.['required']">Email is required.</div>
            <div *ngIf="email.errors?.['minlength']">
              Email must be at least 5 characters long.
            </div>
            <div *ngIf="email.errors?.['maxlength']">
               -->
        <!--
                            31/01/2023
                            TODO: update email maxlength 64, not 320
                          -->
        <!-- 
              Email must be at most 64 characters long.
            </div>
 -->
        <!--
                        {{ email.value.length }} :
                          {{ email.value }}
                        -->
        <!-- 
            <div *ngIf="email.errors?.['email']">
              Email must be properly formatted.
            </div>
            <div *ngIf="email.errors?.['emailTld']">
              Email must have a TLD after the last '.' character.
            </div>
            <div *ngIf="email.errors?.['noWhiteSpace']">
              Email must not contain spaces.
            </div>
            <div *ngIf="email.errors?.['uniqueEmail']">
              Email is already registered.
            </div>
          </div>
        </div>
         -->
        <!-- #endregion -->

        <!-- #region username -->
        <div class="form-group">
          <label for="username">
            Username
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="username"
              name="username"
            />
          </label>
          <div *ngIf="username.pending">Validating...</div>
          <div
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="alert alert-danger username-errors"
          >
            <div *ngIf="username.errors?.['required']">
              Username is required.
            </div>
            <div *ngIf="username.errors?.['minlength']">
              Username must be at least 2 characters long.
            </div>
            <div *ngIf="username.errors?.['maxlength']">
              <!--
                            31/01/2023
                            TODO: update username maxlength 64, not 320
                          -->
              Username must be at most 64 characters long.
            </div>
            <!--
                        {{ username.value.length }} :
                          {{ username.value }}
                        -->
            <div *ngIf="username.errors?.['noWhiteSpace']">
              Username must not contain spaces.
            </div>
            <div *ngIf="username.errors?.['uniqueUsername']">
              Username is already registered.
            </div>
          </div>
        </div>
        <!-- #endregion -->

        <div
          *ngIf="studentForm.errors?.['identityRevealed'] && (studentForm.touched || studentForm.dirty)"
          class="cross-validation-error-message alert alert-danger"
        >
          Password Confirmation must match Password.
        </div>

        <!-- #region password -->
        <div class="form-group">
          <label for="password">
            Password
            <input
              type="password"
              id="password"
              class="form-control"
              formControlName="password"
              name="password"
            />
          </label>

          <div
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="password?.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="password?.errors?.['minlength']">
              Password must be at least 6 characters long.
            </div>
            <div *ngIf="password?.errors?.['maxlength']">
              Password must be at most 14 characters long.
            </div>

            <div *ngIf="password?.errors?.['pattern']">
              Password must be a valid password, with uppercase and lowercase
              characters, digits and symbols.
            </div>

            <div *ngIf="password?.errors?.['lowercaseChar']">
              Password must contain at least one lowercase character.
            </div>

            <div *ngIf="password?.errors?.['uppercaseChar']">
              Password must contain at least one uppercase character.
            </div>

            <div *ngIf="password?.errors?.['digitChar']">
              Password must contain at least one digit.
            </div>

            <div *ngIf="password?.errors?.['symbolChar']">
              Password must contain at least one symbol.
            </div>
          </div>
        </div>
        <!-- #endregion -->

        <!-- #region confirmPassword -->
        <div class="form-group">
          <label for="confirmPassword">
            Confirm Password
            <input
              type="password"
              id="confirmPassword"
              class="form-control"
              formControlName="confirmPassword"
              name="confirmPassword"
              [pattern]="password?.value"
            />
          </label>

          <div
            *ngIf="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="confirmPassword.errors?.['required']">
              Password Confirmation is required.
            </div>
            <div
              *ngIf="confirmPassword.errors?.['pattern']"
              class="cross-validation-error-message alert alert-danger"
            >
              Password Confirmation must match Password.
            </div>
          </div>
        </div>
        <!-- #endregion -->
      </div>

      <p>Complete the form to enable the Submit button.</p>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="studentForm.invalid"
      >
        Submit
      </button>

      &nbsp;

      <button
        type="button"
        class="btn btn-warning"
        (click)="formDir.resetForm({})"
      >
        Reset
      </button>
    </div>
  </form>

  <div class="submitted-message" *ngIf="formDir.submitted">
    <!-- <p>You've submitted your student, {{ studentForm.value.name }}!</p> -->
    <p>You've submitted your student, {{ studentForm.value.username }}!</p>

    <button
      type="button"
      (click)="formDir.resetForm({})"
      class="btn btn-success"
    >
      Add new student
    </button>
  </div>
</div>
