<!-- <p>equipment-form-reactive works!</p> -->

<div class="container">
  <h3>Equipment Form Reactive</h3>

  <form [formGroup]="equipmentForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
    <div [hidden]="formDir.submitted">
      <div
        class="cross-validation"
        [class.cross-validation-error]="equipmentForm.errors?.['uniqueEquipment'] && (equipmentForm.dirty || equipmentForm.touched)"
        >
        <div class="form-group">
          <label for="name">
            Name
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
              />
          </label>

          @if (name.invalid && (name.dirty || name.touched)) {
            <div
              class="alert alert-danger"
              >
              @if (name.errors?.['required']) {
                <div>Name is required</div>
              }
              @if (name.errors?.['minlength']) {
                <div>
                  Name must be at least 1 character long.
                </div>
              }
              @if (name.errors?.['maxlength']) {
                <div>
                  Name must be at most 42 characters long.
                </div>
              }
            </div>
          }
        </div>

        <div class="form-group">
          <label for="price">
            Price
            <input
              type="number"
              id="price"
              class="form-control"
              formControlName="price"
              step="0.01"
              />
          </label>

          @if (price.invalid && (price.dirty || price.touched)) {
            <div
              class="alert alert-danger"
              >
              @if (price.errors?.['required']) {
                <div>Price is required</div>
              }
              @if (price.errors?.['min']) {
                <div>
                  Price must be at least 0.01.
                </div>
              }
              @if (price.errors?.['max']) {
                <div>
                  Price must be at most 99999999998.99.
                </div>
              }
            </div>
          }
        </div>

        @if (equipmentForm.pending) {
          <div>Validating...</div>
        }

        <!--
        <div *ngIf="equipmentForm.invalid && (equipmentForm.dirty)" class="alert alert-danger equipment-errors">
          <div *ngIf="equipmentForm.errors?.['uniqueEquipment']">
            Equipment is already registered; invalid.
          </div>
        </div>
        -->

        @if (equipmentForm.errors?.['uniqueEquipment']) {
          <div
            class="cross-validation-error-message equipment-errors alert alert-danger"
            >
            Equipment is already registered.
          </div>
        }
      </div>

      <p>Complete the form to enable the Submit button.</p>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="equipmentForm.invalid"
        >
        Submit
      </button>

      &nbsp;

      <button
        type="button"
        class="btn btn-warning"
        (click)="formDir.resetForm({ name: '', price: 0 })"
        >
        Reset
      </button>
    </div>
  </form>
  @if (formDir.submitted) {
    <div class="submitted-message">
      <p>You've submitted your equipment, {{ equipmentForm.value.name }}!</p>
      <button
        type="button"
        (click)="formDir.resetForm({ name: '', price: 0 })"
        class="btn btn-success"
        >
        Add new equipment
      </button>
    </div>
  }
</div>
