<div class="container">
    <h2>Class Form Template</h2>
    <form #classForm="ngForm" appUniqueClass
        (ngSubmit)="add(martialArtId.value, instructorId.value, dateTime.value, pricePerHour.value)">
        <div [hidden]="classForm.submitted">
            <div class="cross-validation"
                [class.cross-validation-error]="classForm.errors?.['uniqueClass'] && (classForm.dirty || classForm.touched)">
                <div class="form-group">
                    <label for="martialArtId">
                        Martial Art ID
                        <select id="martialArtId" name="martialArtId" class="form-control" required appId
                            appMartialArtId [(ngModel)]="martialArtClass.martialArtId" #martialArtId="ngModel">
                            <option *ngFor="let martialArt of martialArts" [ngValue]="martialArt.martialArtId">{{
                                martialArt.name }}
                            </option>
                        </select>
                    </label>

                    <div *ngIf="martialArtId.invalid && (martialArtId.dirty || martialArtId.touched)"
                        class="alert alert-danger">

                        <div *ngIf="martialArtId.errors?.['required']">
                            Martial Art ID is required.
                        </div>
                        <div *ngIf="martialArtId.errors?.['validId']">
                            Martial Art ID is invalid.
                        </div>
                        <div *ngIf="martialArtId.errors?.['validMartialArtId']">
                            Martial Art ID is not an existing martial art's ID.
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="instructorId">
                        Instructor ID
                        <select id="instructorId" name="instructorId" class="form-control" required appId
                            appInstructorId [(ngModel)]="martialArtClass.instructorId" #instructorId="ngModel">
                            <option *ngFor="let instructor of instructors" [ngValue]="instructor.instructorId">
                                {{ instructor.firstName }}
                                {{ instructor.lastName }}</option>
                        </select>
                    </label>

                    <div *ngIf="instructorId.invalid && (instructorId.dirty || instructorId.touched)"
                        class="alert alert-danger">

                        <div *ngIf="instructorId.errors?.['required']">
                            Instructor ID is required.
                        </div>
                        <div *ngIf="instructorId.errors?.['validId']">
                            Instructor ID is invalid.
                        </div>
                        <div *ngIf="instructorId.errors?.['validInstructorId']">
                            Instructor ID is not an existing instructor's ID.
                        </div>

                    </div>
                </div>



                <div class="form-group">
                    <label for="dateTime">
                        Date & Time
                        <input type="dateTime-local" id="dateTime" name="dateTime" class="form-control" required
                            appDateTime [(ngModel)]="martialArtClass.dateTime" #dateTime="ngModel">
                    </label>

                    <div *ngIf="dateTime.invalid && (dateTime.dirty || dateTime.touched)" class="alert alert-danger">

                        <div *ngIf="dateTime.errors?.['required']">
                            Date & Time is required.
                        </div>
                        <div *ngIf="dateTime.errors?.['validDateTime']">
                            Date & Time is invalid.
                        </div>

                    </div>
                </div>



                <div *ngIf="classForm.pending">
                    Validating...
                </div>

                <div *ngIf="classForm.errors?.['uniqueClass']"
                    class="cross-validation-error-message alert alert-danger class-errors">
                    Class is already registered.
                </div>

                <div class="form-group">
                    <label for="pricePerHour">
                        Price per Hour
                        <input type="number" id="pricePerHour" name="pricePerHour" class="form-control"
                            required="required" min="0.01" max="99999999998.99"
                            [(ngModel)]="martialArtClass.pricePerHour" #pricePerHour="ngModel" step="0.01">
                    </label>

                    <div *ngIf="pricePerHour.invalid && (pricePerHour.dirty || pricePerHour.touched)"
                        class="alert alert-danger">

                        <div *ngIf="pricePerHour.errors?.['required']">
                            Price per Hour is required.
                        </div>
                        <div *ngIf="pricePerHour.errors?.['min']">
                            Price per Hour must be at least 0.01.
                        </div>
                        <div *ngIf="pricePerHour.errors?.['max']">
                            Price per Hour must be at most 99999999998.99.
                        </div>
                    </div>
                </div>
            </div>

            <p>Complete the form to enable the Submit button.</p>
            <button type="submit" [disabled]="classForm.invalid" class="btn btn-success">
                Submit
            </button>

            &nbsp;

            <button type="button" (click)="classForm.resetForm(
              {
                martialArtId: 0,
                instructorId: 0,
                dateTime: '',
                pricePerHour: 0
              }
              )" class="btn btn-warning">
                Reset
            </button>
        </div>

        <div class="submitted-message" *ngIf="classForm.submitted">
            <p>You've submitted your class, {{classForm.value.name}}!</p>

            <button type="button" (click)="classForm.resetForm(
              {
                martialArtId: 0,
                instructorId: 0,
                dateTime: '',
                pricePerHour: 0
              }
              )" class="btn btn-success">
                Add new class
            </button>
        </div>
    </form>
</div>