/* You can add global styles to this file, and also import other style files */

/* this does the actual load */
@import url('~bootstrap/dist/css/bootstrap.min.css');
/* @import "primeicons/primeicons.css"; */
/* @import "primeng/resources/themes/bootstrap4-light-blue/theme.css"; */

/*
div span {
  background-color: aqua;
}
*/

td .delete,
td .edit {
  width: 100%;
}

li {
  list-style-type: none;
}

h1 {
  font-family: "Shojumaru", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
.container,
table,
th {
  text-align: center;
}

td.price,
th.price,
th.price-per-hour,
td.price-per-hour {
  text-align: right;
}

/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */
/* either works apparently */
/* @import 'https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'; */




body{
      -webkit-text-size-adjust: 100%;
      text-size-adjust: 100%;
}
